# Laravel default
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.*.php
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Laravel IDE Helper
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php

# Laravel Telescope
storage/telescope

# Laravel Horizon
storage/horizon

# Cache and logs
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/framework/testing

# Vite / Mix
/public/hot
/public/mix-manifest.json
/public/build

# OS files
.DS_Store
Thumbs.db

/admin-dashboard/node_modules