*.sqlite*

# Laravel core
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.*.php
.env.*.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# IDEs and editors
.idea
.vscode
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Laravel cache & logs
/storage/app/public
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/logs

# Composer & NPM
composer.lock
package-lock.json
